
* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "shapes-bar"
    "sketchpad";
  grid-template-rows: auto auto 1fr;
}

.section-title {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 15px;
  color: #fff;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  grid-area: header;
  background: #4B2A91;
}

.toolbar-align-right {
  border-radius: 20px;
  padding: 5px 15px;
  display: flex;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.btn-toolbar  {
  width: auto;
  padding: 0px 15px;
  height: 46px;
  border-radius: 25px;
  background: #EE6D9D;
  border: 5px solid #42277C;
  margin-left: 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;

}

.btn-toolbar.circular {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  padding: 0px;
}

.btn-toolbar svg  {
  fill: #FFF;
  max-width: 20px;
}

.logo {
  margin: 0;
  color: #EE6D9D;
  color: #4B2A91;
  font-size: 32px;
  font-weight: 900;
  margin-right: 15px;
}


.shapes-bar {
  background: #4B2A91;
  width: 100%;
  border-radius: 20px;
  padding: 15px;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  grid-area: shapes-bar;
}

.shapes-bar-wrapper {
  overflow: auto;
  display: flex;
  padding: 5px;
}

.btn-shape {
  background: #3B1D79;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  height: 100px;
  flex: 0 0 120px;
  font-family: Rubik;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  margin-right: 15px;
  margin-bottom: 7px;
}

.btn-shape:hover {
  color: #FFD100;
}

.btn-shape.selected {
  background: linear-gradient(180deg, #FFA800 0%, #FFD100 100%);
  box-shadow: 4px 4px 0px #FF8A01;
  border-radius: 15px;
  color: #3B1D79;
}

.colors-section {
  display: none;
}

.sketchpad {
  grid-area: sketchpad;
}


@media (min-width: 1100px ) {
  #app {
    grid-template-columns: 480px 1fr;
    grid-template-areas:
      "header header"
      "shapes-bar  sketchpad";
    grid-template-rows: auto 1fr;
  }

  .header {
    background: #fff;
  }

  .shapes-bar {
    overflow-y: scroll;
    display: block;
  }
  .shapes-bar-wrapper {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
  }

  .btn-toolbar {
    border-color: #fff
  }

  .btn-shape {
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .color-bar-title {
    display: block;
  }

  .color-bar-wrapper {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .color-bar-wrapper .btn-color {
    width: 55px;
    height: 55px;
    border-radius: 50px;
    margin: 0px 25px 15px 25px;
    border: 6px solid #42277C;
  }
}

@media (spanning: single-fold-vertical) {
  #app {
    grid-template-columns: env(fold-left) 1fr;
    grid-template-areas:
      "header header"
      "shapes-bar  sketchpad";
    grid-template-rows: auto 1fr;
    padding: 0;
    grid-gap: 0;
  }

  .shapes-bar {
    border-radius: 0;
  }

  .shapes-bar {
    overflow-y: scroll;
    display: block;
  }
  .shapes-bar-wrapper {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
  }

  .btn-shape {
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .colors-section {
    display: block;
  }

  .color-bar-wrapper {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .color-bar-wrapper .btn-color {
    width: 55px;
    height: 55px;
    border-radius: 50px;
    margin: 0px auto 15px auto;
    border: 6px solid #42277C;
  }
}


@media (spanning: single-fold-horizontal) {
  #app {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "shapes-bar"
      "sketchpad";
    grid-template-rows: 75px calc( env(fold-top) - 75px )  1fr;
    padding: 0;
    grid-gap: 0;
  }
  .header {
    background: #4B2A91;
    margin-bottom: 0;
    padding: 0px 5px;
  }
  .logo {
    color: #EE6D9D;
  }
  .shapes-bar {
    border-radius: 0;
    display: flex;
    flex-direction: row;
  }

  .shapes-section {
    flex: 1 1 65vw;
  }

  .colors-section {
    display: block;
    flex: 1 1 35vw;
  }

  .btn-color {
    margin: 0px auto 15px auto !important;
  }
}